# Steam folder location indicated by a bang and a space and then the directory location.
# Spaces are permissible in the directory name without any quotations or escape characters
! ~/.steam/steam/steamapps
# 3 comma separated values per line:
# Display name, abbreviated name for command line invocation, the appid
Falcon BMS, falcon, 429530
IL-2 Sturmovik, il2, 307960
Project Wingman, wingman, 895870
Nuclear Option, nuclear, 2168680
